
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Convert temperature</h1>
    </div>
    <div>
        <label>Temperatur att omvandla: </label>
        <input type="text" name="Temperature" id="T"><br /><br />
    </div>

    <div>
        <button onclick="CelsiusToFarenheit()" id="CTF">Celsius => Farenheit</button>
        <button onclick="FarenheitToCelsius()" id="FTC">Farenheit => Celsius</button>
        <br /><br />
    </div>
    <div>
        <label>Resultat: </label>
        <output typeof="text" name="omvandladTemp" id="omvT"></output><br /><br />
    </div>

    <script src="~/Scripts/main.js"></script>
</body>
</html>
